.container_div{
    background-color:#F5EFE7;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.header{
    text-align: center;
    color: #3E5879;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 280px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
  .card h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  .card p {
    color: #555;
    font-size: 14px;
    margin: 5px 0;
  }
  .card button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;  
}
  
  .card button:hover {
    background-color: #ff1a1a;
  }
  